.row {
    margin: 0.5em 0 2em;
}

#dropzone {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: auto;
    border: dashed 3px #999;
}

#dropzone.dzempty {
    min-height: 300px;
}
